body
    background #eaeaea

h1, h2, h3, h4, h5, h6
    font-weight 300

h1
    font-size 1.6rem
    padding-bottom 16px
    border-bottom 2px solid rgba(0, 0, 0, 0.05)

h2
    font-weight 400
    font-size 1.2rem
    border-bottom 0

h3
    font-size 1rem

.navbar
  z-index 500
  border-bottom none
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, .05)


#app
    max-width 1200px
    .sidebar
        background-image: linear-gradient(#2c3e50, #51606f)

    a.sidebar-link
        color #fff
        font-size .9rem

.custom-block.tip, .custom-block.warning, .custom-block.danger
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, .05)
    border-left none
    border-radius 10px
    border 2px solid transparent

.custom-block.tip
    border-color darken(#787f9e, 30%)

.custom-block.warning
    border-color darken(#f3ecc5, 30%)

h1 .header-anchor,
h2 .header-anchor,
h3 .header-anchor,
h4 .header-anchor,
h5 .header-anchor,
h6 .header-anchor
    opacity 1
    color #d0d6dc

h1 .header-anchor:hover,
h2 .header-anchor:hover,
h3 .header-anchor:hover,
h4 .header-anchor:hover,
h5 .header-anchor:hover,
h6 .header-anchor:hover
    text-decoration none !important

.table-of-contents
    ul
        list-style none
    > ul
        padding-left 0
    > li
        padding 0
        margin 0
    a:hover
        text-decoration none !important
        opacity 0.5
    a:active
        text-decoration none !important
        opacity 0.7
    a:before
        content '# '
        color #d0d6dc
        margin-left -15px
        margin-right 5px
